<div class="container d-flex">
 <div class="card-user" >
  <img src="https://source.unsplash.com/random/250x250" class="card-img-top" alt="...">
  <h3 style="background-image: url(<%= asset_path 'image_perfil-07.svg' %>);"></h3>
  <%# <h2><strong><%= " #{@user.address}" %> <%#</strong></h2> %>
  <h2><strong> Vila Madalena</strong></h2>
  <p><strong> Name: </strong><%= "#{@user.name}" %> </p>
  <p><strong> Data de Nascimento: </strong><%= "#{@user.birth_date}" %> </p>
 </div>

  <div class="card-wishlist">
    <div class="card-title">
      <h2> <%= "#{@wishlist.title}" %></h2>
    </div>
    <% current_user.wishlists.first.wishlist_items.each  do |item| %>
      <%= link_to  activity_path(item.activity), class: "text-decoration-none" do  %>
        <div class="card-index-wishlist-intems">
              <img src="https://source.unsplash.com/random/150x150" class="card-img-top" alt="...">
          <div class="card-wishlist-infos">
              <p><strong> Title: </strong><%= item.activity.title %> </p>
              <p><strong> Category: </strong><%= item.activity.category %></p>
              <p><strong> Description: </strong><%= item.activity.description%></p>
              <div>
                <% wishlist_item = WishlistItem.find_by(activity: @activity, wishlist: current_user.wishlists.first) %>
                <%= link_to  wishlist_item_path(item),
                data: {turbo_method: :delete, turbo_confirm: "Tem certeza que você deseja remover #{item.activity.title } da sua wishlist?"} do %>
                  <i class="fa-regular fa-trash-can"></i>
                <% end %>
              </div>
              <%# <%= link_to wishlist_path(@festival.wishlists.where(user:current_user).first),method: :delete do %>
              <%# <i class="animate__animated animate__heartBeat fas fa-heart"></i> %>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>

    <p><%= link_to "Voltar para recomendações", activities_path, class: "btn-yellow" %></p>

</div>
