<div class="container d-flex">
 <div class="card-user" >
  <img src="https://source.unsplash.com/random/250x250" class="card-img-top" alt="...">
 <h3 style="background-image: url(<%= asset_path 'image_perfil-07.svg' %>);"></h3>
 <h2><strong><%= " #{@user.address}" %></strong></h2>
 <p><strong> Name: </strong><%= "#{@user.name}" %> </p>
 <p><strong> Data de Nascimento: </strong><%= "#{@user.birth_date}" %> </p>
 </div>

 <div class="card-wishlist">
  <div class="card-title">
  <h2><strong> Wishlist </strong></h2>
  </div>

    <% current_user.wishlists.first.wishlist_items.each  do |item| %>
    <%= link_to  activity_path(item.activity), class: "text-decoration-none" do  %>
  <div class="card-index-wishlist-intems">
        <img src="https://source.unsplash.com/random/150x150" class="card-img-top" alt="...">
    <div class="card-wishlist-infos">
        <p><strong> Title: </strong><%= item.activity.title %> </p>
        <p><strong> Category: </strong><%= item.activity.category %></p>
        <p><strong> Description: </strong><%= item.activity.description%></p>
         <%# <h1><%= link_to “EAT & DRINK”, activities_path(item.activity)%></h1>
        <%# <%= link_to "Acessar activity", activity_path(item.activity), class: "btn-orange "  %>

    </div>
    </div>
    <% end %>
    <% end %>

</div>
</div>



<div>
<%= link_to "Voltar", activities_path,  class: "btn btn-secondary" %>
</div>
