<div class="container-all">
  <div class="container my-4">

    <div class="row">
    <%= link_to activities_path(category: "Comer & Beber") do %>

      <div class="card-row">
        <%= image_tag "restaurant.jpg" %>
        <div class="home-card-title">
          <h1> COMER & BEBER </h1>
        </div>
      </div>
    <% end %>
    </div>

    <div class="row">
    <%= link_to activities_path(category: "O Que Fazer")  do %>
      <div class="card-row">
        <%= image_tag "bike.jpg" %>
        <div class="home-card-title">
          <h1>O QUE FAZER</h1>
        </div>
      </div>
      <% end %>
    </div>

    <div class="row">
    <%= link_to activities_path(category: "Eventos")  do %>
      <div class="card-row">
        <%= image_tag "event.jpg" %>
        <div class="home-card-title">
          <h1>EVENTOS</h1>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
