<div class="container-all">
  <div class="container mt-4">

    <div class="row">
      <div class="card-row">
        <%= image_tag "restaurant.jpg" %>
        <div class="home-card-title">
          <h1><%= link_to "COMER & BEBER", activities_path(category: "Comer & Beber")%></h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card-row">
        <%= image_tag "bike.jpg" %>
        <div class="home-card-title">
          <h1><%= link_to "O QUE FAZER", activities_path(category: "O Que Fazer") %></h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card-row">
        <%= image_tag "event.jpg" %>
        <div class="home-card-title">
          <h1><%= link_to "EVENTOS", activities_path(category: "Eventos") %></h1>
        </div>
      </div>
    </div>
  </div>
</div>
