<h1><strong>Lista de indicações:</strong></h1>

<% @activities.each do |activity| %>
    <div>
        <p><%= "Título: #{activity.title}" %></p> 
        <p><%= "Desrcição: #{activity.description}" %></p>                
        <p><%= "Datas: #{activity.open_date}" %></p>
        <p><%= "Endereço: #{activity.activity_address}" %></p>
        <p><%= "Ranking: #{activity.ranking}" %></p>
        <p><%= "Tipo: #{activity.category}" %></p>
        <p><%= link_to "Ver mais", activity_path(activity[:id]), class: "btn btn-primary" %></p>
    </div>
<% end %>