<%= form_with url: activities_path, method: :get, class: "d-flex" do %>
  <div>
  <%= text_field_tag :category,
    params[:category],
    class: "form-control",
    placeholder: "Digite categoria"
  %>
  </div>
  <div>
  <%= text_field_tag :ranking,
    params[:ranking],
    class: "form-control",
    placeholder: "Digite o ranking"
  %>
  </div>
  <%# <select class="js-example-basic-multiple" name="states[]" multiple="multiple"> %>
  <%= select_tag :tags, 
    options_from_collection_for_select(Tag.activity_tags.all, "id", "sub_category"),
    multiple: true,
    class: "form-control",
    # input_html: {multiple: true, class: "multiple-select", data: { controller: 'select2' }},
    include_blank: true 
  %>
  <%# </select> %>
  
 
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<h1><strong>Lista de indicações:</strong></h1>


<% @activities.each do |activity| %>
    <div>
        <p><%= "Título: #{activity.title}" %></p>
        <p><%= "Descrição: #{activity.description}" %></p>
        <p><%= "Datas: #{activity.open_date}" %></p>
        <p><%= "Endereço: #{activity.activity_address}" %></p>
        <p><%= "Ranking: #{activity.ranking}" %></p>
        <p><%= "Tipo: #{activity.category}" %></p>
        <p><%= link_to "Ver mais", activity_path(activity[:id]), class: "btn btn-primary" %></p>
        <p><%= link_to "Voltar página principal", root_path,  class: "btn btn-primary" %></p>
    </div>
<% end %>


<%# CARD de INDEX
<div class="card-index">
  <img src="https://source.unsplash.com/random/1600x900"/>
  <div class="card-index-infos">
    <h2>Restaurante</h2>
    <h3>Descrição/Tag</h3>
    <p>Descrição do Restaurantes</p>
    <h3>Price</h3>
    <p>$$$</p>
    <h3>Endereço</h3>
    <p>R. Jericó, 193</p>
  </div>
</div> %>
