<div class="container">

         <%# <%= simple_form_for [@activity, @item] do |f| %>
          <%# <%= f.association :wishlist%>
          <%# <%= f.submit "Adicionar isso a sua whishlist", class: "btn btn-secondary" %>
        <%# <% end %>

  <%# CARD de SHOW %>
  <div class="container-show">
    <div class="card-show">
      <div class="card-show-top">
        <div>
          <h1><%= "#{@activity.title}" %></h1>
          <%# <p>Stars</p> %>
        </div>
        <div>
            <%# <a class="btn-yellow" href="#">Adicionar à Wishlist</a> %>
            <% wishlist_item = WishlistItem.find_by(activity: @activity, wishlist: current_user.wishlists.first)   %>
            <% if wishlist_item.present? %>
              <%= link_to "Remover da Wishlist",  wishlist_item_path(wishlist_item), class: "btn-orange", data: {turbo_method: :delete, turbo_confirm: "Tem certeza que deseja remover #{@activity.title} da sua wishlist?"} %>
            <% else %>
              <%= link_to "Adicionar à Wishlist", activity_wishlist_items_path(@activity), class: "btn-yellow", data: {turbo_method: :post}   %>
            <% end %>
        </div>
    </div>

      <img src= <%="#{@activity.image}"%>/>

      <div class="card-show-items">
        <div class="card-show-items-info">
          <h3><%= "Descrição:" %></h3>
          <p><%= "#{@activity.description}" %></p>
          <%# <h3>= "Datas:"</h3> %>
          <%# <p>= "#{@activity.open_date}"</p> %>
          <h3><%= "Endereço:" %></h3>
          <p><%= "#{@activity.address}" %></p>
          <h3><%= "Rating:" %></h3>
          <p><%= @activity.reviews.any? ?  "#{@activity.average}" : "Sem reviews" %></p>
          <h3><%= "Tipo:" %></h3>
          <p><%= "#{@activity.category}" %></p>
          <h3><%= "Tags Associadas:" %></h3>
          <p><%= "#{@activity.top_tags.map { |tag| tag.tag_name }.join(", ")}" %></p>
        </div>
        <div>
          <% if @checkin.blank? %>
            <%= link_to "Fazer Check-in", activity_checkins_path(@activity), data: {turbo_method: :post}, class: "btn-orange" %>
          <% else %>
            <%= link_to "Fazer Check-in", checkin_path(@checkin), data: {turbo_method: :patch}, class: "btn-orange" %>
          <% end %>
        </div>
        <%# <div>
          <a class="btn-black" href="#">Escrever review</a>
        </div> %>
      </div>
    </div>

     <div class="map" style="width: 50%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-user-value="<%= @user_marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>

    <p><%= link_to "Voltar para recomendações", activities_path(category: @activity.category), class: "btn-yellow" %></p>
    <p><%= link_to "Voltar página principal", home_path, class: "btn-black" %></p>

    <div class="card-review">
      <div class="card-review-input">
          <% near = Activity.near(current_user, 2) %>
            <% if near.to_a.pluck(:id).include?(@activity.id) %>
            <%= simple_form_for([@activity, @review], data: {turbo: :false}) do |f| %>
              <%= f.input :content, label: "Sua dica:" %>
              <%= f.input :rating, collection: (1..5).to_a, label: "Avalie a sua experiência", input_html: {data: {controller: "star-rating"}} %>
            <%= select_tag :tags,
        grouped_options_for_select(@tag_hash),
        multiple: true,
        class: "form-control",
        include_blank: true,
        prompt: "Selecione tags",
        'data-controller': 'tomselect'
      %>

              <%= f.submit "Submeter Review", class: "btn-black" %>

            <% end %>
          <% end %>
      </div>

      <div class="review-cards-all">
        <h3><strong>Reviews:</strong></h3>
            <% @activity.reviews.each do |review| %>
          <div class="review-cards">
              <div class="d-flex align-content-between flex-wrap">
              <div class=""><% review.rating.times do %>
               <i class="fa-solid fa-star"></i>
                <% end %>
              <div class=""><%= review.content %></div>
              <h6><strong><%= "#{current_user.name} -" %></strong> <%= review.created_at.strftime("%d/%m/%Y %H:%M") %></h6>


              </div>
              </div>
              <%# <li class="">= review.content</li> %>
              <div><%= link_to "Delete",
                review_path(review),
                data: {turbo_method: :delete, turbo_confirm: "Você tem certeza?"},
                class: "btn-orange"
              %></div>
          </div>
            <% end %>
      </div>
    </div>

    <div class="contenier-ranking">
      <div class="card-ranking-title">
      <h3><strong>Ranking de melhores usuários:</strong></h3>
      </div>
      <% @best_users.each do |user| %>
        <%= link_to user_path(user), class: "text-decoration-none" do%>
          <div class="card-index-wishlist-intems">
            <%= image_tag user.image if user.image.present? %>
            <div class="card-wishlist-infos">
              <p><strong>Name: </strong><%= user.name %> </p>
              <p><strong>Nº de Checkins: </strong> <%= Checkin.find_by(activity_id: @activity.id, user_id: user.id).count %></p>
              <p><strong>Nº de Reviews: </strong> <%= Review.where(activity_id: @activity.id, user_id: user.id).pluck(:id).count %></p>
              <p>
                <strong>Compatibilidade: </strong>
                <% array1 = user.tags.pluck(:id) %>
                <% array2 = current_user.tags.pluck(:id) %>
                <% same = array1.select { |elem| array2.include?(elem)} %>
                <% compatible = (same.count.to_f/array2.count) %>
                <%= "#{compatible * 100}%" %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
