<div class="container">

         <%# <%= simple_form_for [@activity, @item] do |f| %>
          <%# <%= f.association :wishlist%>
          <%# <%= f.submit "Adicionar isso a sua whishlist", class: "btn btn-secondary" %>
        <%# <% end %>

  <%# CARD de SHOW %>
  <div class="container-show">
    <div class="card-show">
      <div class="card-show-top">
        <div>
          <h1>Cuscuz da Irina</h1>
          <p>Stars</p>
        </div>
        <div>
            <%# <a class="btn-yellow" href="#">Adicionar à Wishlist</a> %>
            <% wishlist_item = WishlistItem.find_by(activity: @activity, wishlist: current_user.wishlists.first)   %>
            <% if wishlist_item.present? %>
              <%= link_to "Remover da Wishlist",  wishlist_item_path(wishlist_item), class: "btn-orange", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{@activity.title} from your wishlist?"} %>
            <% else %>
              <%= link_to "Adicionar à Wishlist", activity_wishlist_items_path(@activity), class: "btn-yellow", data: {turbo_method: :post}   %>
            <% end %>
        </div>
    </div>

      <img src="https://source.unsplash.com/random/1600x900"/>

      <div class="card-show-items">
        <div class="card-show-items-info">
          <h3><%= "Título:" %></h3>
          <p><%= "#{@activity.title}" %></p>
          <h3><%= "Descrição:" %></h3>
          <p><%= "#{@activity.description}" %></p>
          <h3><%= "Datas:" %></h3>
          <p><%= "#{@activity.open_date}" %></p>
          <h3><%= "Endereço:" %></h3>
          <p><%= "#{@activity.address}" %></p>
          <h3><%= "Ranking:" %></h3>
          <p><%= "#{@activity.ranking}" %></p>
          <h3><%= "Tipo:" %></h3>
          <p><%= "#{@activity.category}" %></p>
          <h3><%= "Tags Associadas:" %></h3>
          <p><%= "#{@activity.tags.map { |tag| tag.tag_name }.join(", ")}" %></p>
        </div>
        <div>
          <a class="btn-black" href="#">Escrever review</a>
        </div>
      </div>
    </div>

     <div class="map" style="width: 50%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>

    <p><%= link_to "Voltar para recomendações", activities_path(category: @activity.category), class: "btn-yellow" %></p>
    <p><%= link_to "Voltar página principal", root_path, class: "btn-black" %></p>

    <div class="card-review">
      <div class="card-review-input">
          <% near = Activity.near(@user, 2) %>
            <% if near.to_a.pluck(:id).include?(@activity.id) %>
            <%= simple_form_for([@activity, @review], data: {turbo: :false}) do |f| %>
              <%= f.input :content %>
              <%= f.submit "Submit review", class: "btn btn-primary" %>
            <% end %>
          <% end %>
      </div>

      <div class="card-review-results">
        <h3><strong>Reviews:</strong></h3>
          <ul id="reviews" class="">
            <% @activity.reviews.each do |review| %>
                <li class=""><%= review.content %></li>
                <%= link_to "Delete",
                  review_path(review),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                %>
            <% end %>
          </ul>
      </div>
    </div>
</div>
