<div class="container">
  <h1><strong>Página da indicação:</strong></h1>

  <%# CARD de SHOW %>
  <div class="card-show">
    <div class="card-show-top">
      <div>
        <h1>Cuscuz da Irina</h1>
        <p>Stars</p>
      </div>
      <div>
        <a class="btn-yellow" href="#">Adicionar à Wishlist</a>
      </div>
    </div>
      <img src="https://source.unsplash.com/random/1600x900"/>
    <div class="card-show-items">
      <div class="card-show-items-info">
        <h3><%= "Título:" %></h3>
        <p><%= "#{@activity.title}" %></p>
        <h3><%= "Descrição:" %></h3>
        <p><%= "#{@activity.description}" %></p>
        <h3><%= "Datas:" %></h3>
        <p><%= "#{@activity.open_date}" %></p>
        <h3><%= "Endereço:" %></h3>
        <p><%= "#{@activity.activity_address}" %></p>
        <h3><%= "Ranking:" %></h3>
        <p><%= "#{@activity.ranking}" %></p>
        <h3><%= "Tipo:" %></h3>
        <p><%= "#{@activity.category}" %></p>
      </div>
        <div>
          <a class="btn-black" href="#">Escrever review</a>
        </div>
    </div>
  </div>
    <p><%= link_to "Voltar", activities_path,  class: "btn btn-secondary" %></p>
    <p><%= link_to "Voltar para recomendações", activities_path(category: @activity.category),  class: "btn btn-dark" %></p>
    <p><%= link_to "Voltar página principal", root_path,  class: "btn btn-warning" %></p>
  </div>
</div>
