<!DOCTYPE html>
<html>
  <head>
    <title>LOCALSOnly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <%= favicon_link_tag asset_path('locals-favicon-bg.svg') %>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    

  </head>

  <body data-controller="home-footer">
    <%# <div class="container-all" data-home-footer-target="container"> %>
      <%= render "shared/navbar" unless @skip_navbar %>
      <%= render "shared/flashes" %>
      <%= yield %>
    <%# </div> %>
      <%= render "shared/footer" unless @skip_footer %>
  </body>
</html>
